.standard-button {
    height: 50px;
    width: 200px;
    margin-left: 20px;
}


.addCharacterFormParentContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.addCharacterFormContainer {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: scroll;
}
  
  /* Form inputs */
  .addCharacterInputs {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
  }
  
  /* Boss gallery styling */
  .bossGalleryContainer {
    margin-top: 20px;
  }
  
  .bossGallery {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }
  
  .bossGallery li {
    padding: 8px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease;

  }

  .bossGalleryItem:hover{
    background-color: #a17878;;
    border-style: inset;
  }
  
  .bossGalleryItem:active {
    border-style: inset;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.3); /* Deeper indent when clicked */
    background-color: #e0e0e0; /* Darker background for a pressed look */
    transform: translateY(1px); /* Optional: slight downward movement */
  }

  /* Submit button */
  .submit-button {
    margin-top: 40px;
    width: 100%;
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  /* ---------------- TABLE -------------------- */

  .characterTable {
    width: 800px; /* Fixed width for the table */
    table-layout: fixed; /* Ensures the table columns have a fixed width */
    border-collapse: collapse; /* Optional, to collapse borders between cells */
    margin: 0 auto; /* Center the table horizontally */
  }
  
  .characterTable th,
  .characterTable td {
    border: 1px solid #ddd; /* Optional, adds borders to cells */
    padding: 8px; /* Optional, adds padding inside cells */
    text-align: left; /* Aligns text to the left */
  }
  
  .characterTable th {
    background-color: #f2f2f2; /* Optional, adds a background color to headers */
  }
  
  .characterTable td {
    white-space: normal; /* Ensures text wraps when necessary */
  }
  